<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/home.css" />
    <link rel="stylesheet" href="~/css/media-query.css" />
    <title>OverHaul - @ViewData["Title"]</title>
</head>
<body>
    <!-- Header -->

    <div class="container">
        <nav>
            <a href="@Url.Action("Index", "Home")">
                <img class="logo" src="@Url.Content("~/images/logo.png")" alt="Logo" />
            </a>
            <ul class="ul">

                @if (Cliente.ClienteLogadoId == 0)
                {
                    <a href="@Url.Action("Login", "Home")" id="abrirModal" class="login">Iniciar Sessão</a>
                }
                else
                {
                    <a href="@Url.Action("PerfilCliente", "Home")" id="btn-perfil">Perfil</a>
                }

                <a href="@Url.Action("Carros", "Home")">NOSSOS CARROS</a>
                <a id="menu-toggle">MENU</a>
                <div class="close-icon" onclick="closeMenu()">
                    <i class="fa-solid fa-circle-xmark" style="color: #000000;"></i>
                </div>
            </ul>
            <div class="menu-icon" onclick="openMenu()">
                <i class="fas fa-bars"></i>
            </div>
        </nav>
    </div>
    </header>

    <!-- menu lateral -->
    <div id="side-menu" class="menu">
        <button id="close-menu">×</button>
        <div id="logo-menu">
            <img src="@Url.Content("~/images/logo.png")" alt="Overhaul Logo" style="width: 150px" />
        </div>
        <hr style="margin-top: 15px" />
        <div class="links-menu-lateral">
            <ul>
                <li><a href="@Url.Action("Login", "Home")">Iniciar Sessão</a></li>
                <li><a href="@Url.Action("Carros", "Home")">Comprar</a></li>
                <li><a href="#">Ajude-nos a Melhorar</a></li>
                <li><a href="#">Por que Overhaul</a></li>
                <li><a href="#">Suporte</a></li>
            </ul>
        </div>
        <hr style="margin-bottom: 20px" />
        <div class="social">
            <a href="#"><img src="@Url.Content("~/images/facebook.png")" alt="Facebook" /></a>
            <a href="#"><img src="@Url.Content("~/images/instagram.png")" alt="Instagram" /></a>
            <a href="#"><img src="@Url.Content("~/images/linkedin.png")" alt="LinkedIn" /></a>
        </div>
    </div>

    <!-- modal iniciar sessão -->
    <div id="modalLogin" class="modal">
        <div class="conteudo-modal">
            <span class="fechar">&times;</span>
            <h2>Faça login com a OverHaul</h2>
            <p>Com seu Haul ID, você agora pode:</p>
            <ul>
                <li><span class="check-list">✔</span> Acompanhar seus pedidos</li>
                <li>
                    <span class="check-list">✔</span> Manter-se atualizado com o
                    conteúdo
                </li>
                <li>
                    <span class="check-list">✔</span> Receber atendimento exclusivo
                </li>
                <li>
                    <span class="check-list">✔</span> Acessar nossos recursos online
                </li>
            </ul>
            <!--<button class="botao-login">Iniciar Sessão</button>
            <button class="botao-criar-conta">Criar Conta</button>-->
            <a href="@Url.Action("Login", "Home")" id="btn-sessao">
                <button class="botao-login">Iniciar Sessão</button>
            </a>

            <a href="@Url.Action("CadastrarCliente", "Home")" id="btn-conta">
                <button class="botao-criar-conta">Criar Conta</button>
            </a>

        </div>
    </div>
    <!-- fim modal iniciar sessão -->
    <!-- Main Content -->
    <main role="main">
        @RenderBody()
    </main>

    <footer>
        <div id="footer_content">
            <div id="footer_contacts">
                <h1>Overhaul</h1>
                <p>
                    Revolucionando sua Experiência de Condução!
                </p>

                <div id="footer_social_media">
                    <a href="#" class="footer-link" id="instagram">
                        <i class="fa-brands fa-instagram"></i>
                    </a>

                    <a href="#" class="footer-link" id="facebook">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>

                    <a href="#" class="footer-link" id="whatsapp">
                        <i class="fa-brands fa-whatsapp"></i>
                    </a>
                </div>
            </div>

            <ul class="footer-list">
                <li>
                    <h3>Blog</h3>
                </li>
                <li>
                    <a href="#" class="footer-link">Suporte</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Avaliações</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Direitos reservados</a>
                </li>
            </ul>

            <ul class="footer-list">
                <li>
                    <h3>Produtos</h3>
                </li>
                <li>
                    <a href="#" class="footer-link">Todos os modelos</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Hibrídos</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Elétrico</a>
                </li>
            </ul>

            <div id="footer_subscribe">
                <h3>Subscribe</h3>

                <p>Digite seu e-mail para ser notificado sobre nossas soluções e notícias</p>

                <div id="input_group">
                    <input type="email" id="email" />
                    <button>
                        <i class="fa-regular fa-envelope"></i>
                    </button>
                </div>
            </div>
        </div>

        <div id="footer_copyright">
            © 2024 Todos os Direitos Reservados OverHaul
        </div>
    </footer>

    <script src="src/js/script.js"></script>
    <script src="src/js/modal-iniciar.js"></script>
    <script src="src/js/menu-lateral.js"></script>
</body>
</html>

