@model IEnumerable<overhaul_teste.Models.Carro>

@{
    ViewData["Title"] = "Nossos Carros";
}

<div class="carros-section">
    <h1>Nossos Carros</h1>

    <div class="row">
        <div class="col-md-3">
            <div class="filtros">
                <div class="buscar">
                    <input type="text" placeholder="Pesquisar" class="form-imput">
                </div>
                <div class="form-label">
                    <label for="fabricante">Fabricante:</label>
                    <input type="text" id="fabricante" class="form-imput">
                </div>
                <div class="form-label">
                    <label for="modelo">Modelo do Carro:</label>
                    <input type="text" id="modelo" class="form-imput">
                </div>
                <div class="form-label">
                    <label for="anoDe">Ano Inicial:</label>
                    <input type="text" id="anoDe" class="form-imput">
                </div>
                <div class="form-label">
                    <label for="anoAte">Ano Final:</label>
                    <input type="text" id="anoAte" class="form-imput">
                </div>
                <div class="form-label">
                    <label for="precoDe">Preço De:</label>
                    <input type="text" id="precoDe" class="form-imput">
                </div>
                <div class="form-label">
                    <label for="precoAte">Preço Até:</label>
                    <input type="text" id="precoAte" class="form-imput">
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div class="ordenar-section">
                <span>Ordenar Por:</span>
                <button class="ordenar-btn">Preço</button>
                <button class="ordenar-btn">Ano</button>
                <button class="ordenar-btn">Marca</button>
                <button class="ordenar-btn">Modelo</button>
            </div>


            <div class="lista-carros">
                @foreach (var carro in Model)
                {
                    <div class="carro">
                        <img src="@carro.Imagem" alt="@carro.Modelo">
                        <div class="carro-detalhes">
                            <p><strong>Nome:</strong> @carro.Modelo</p>
                            <p><strong>Marca:</strong> @carro.Marca</p>
                            <p><strong>Ano:</strong> @carro.Ano</p>
                            <p><strong>A partir de R$ </strong> @carro.Preco.ToString("F2")</p>
                            <a href="@Url.Action("Detalhes", "Home", new { id = carro.Id })" class="mais-detalhes">Mais Detalhes ></a>
                        </div>
                    </div>
                }
            </div>

            <div class="paginas-section">
                <div class="paginas">
                    <button class="pgn-btn">1</button>
                    <button class="pgn-btn">2</button>
                    <button class="pgn-btn">></button>
                </div>
            </div>
        </div>
    </div>
</div>
