@model IEnumerable<overhaul_teste.Models.Carrinho>

@{
    ViewData["Title"] = "Carrinho";
    decimal total = 0;
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
<link href="~/css/carrinho.css" rel="stylesheet" />

<div class="container">
    <section id="order">
        <br />
        <h2 class="title-doc">Carrinho de compras</h2>

        <div id="code_cart">
            <div class="card p-3">
                @if (!Model.Any())
                {
                    <div class="empty-cart">
                        <p>Carrinho está vazio</p>
                    </div>
                }
                else
                {
                    <table class="table table-hover shopping-cart-wrap">
                        <thead class="text-muted">
                            <tr>
                                <th scope="col">Produto</th>
                                <th scope="col" width="120">Quantidade</th>
                                <th scope="col" width="120">Subtotal</th>
                                <th scope="col" width="200" class="text-end">Ação</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                var subTotal = item.QuantidadeProd * Convert.ToDecimal(item.Preco);
                                total += subTotal;
                                <tr>
                                    <td>
                                        <figure class="media">
                                            <div class="img-wrap">
                                                <img alt="Imagem" src="@item.Imagem" class="img-fluid" style="width: 80px; height: 80px; object-fit: cover;">
                                            </div>
                                            <figcaption class="media-body">
                                                <h6 class="title text-truncate">@item.Modelo</h6>
                                                <dl class="dlist-inline small">
                                                    <dt>Marca:</dt>
                                                    <dd>@item.Marca</dd>
                                                    <dt>Ano:</dt>
                                                    <dd>@item.Ano</dd>
                                                    <dt>Cor:</dt>
                                                    <dd>@item.Cor</dd>
                                                </dl>
                                            </figcaption>
                                        </figure>
                                    </td>
                                   
                                    <td>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                @if (item.QuantidadeProd > 1)
                                                {
                                                    @using (Html.BeginForm("DiminuirItem", "Home", FormMethod.Post))
                                                    {
                                                        <input type="hidden" name="id" value="@item.IdCarro">
                                                        <input type="hidden" name="quantidade" value="1">
                                                        <button type="submit" class="btn btn-default btn-acao-primario">-</button>
                                                    }
                                                }
                                                else
                                                {
                                                    <button type="button" class="btn btn-default btn-acao-primario" onclick="confirmRemove('@item.IdCarro')">-</button>
                                                }
                                            </div>
                                            <input type="text" class="form-control text-center" value="@item.QuantidadeProd">
                                            <div class="input-group-append">
                                                @if (item.QuantidadeProd > item.QuantidadeProd)
                                                {
                                                    @using (Html.BeginForm("AdicionarItem", "Home", FormMethod.Post))
                                                    {
                                                        <input type="hidden" name="id" value="@item.IdCarro">
                                                        <input type="hidden" name="QuantidadeProd" value="1">
                                                        <button type="submit" class="btn btn-default btn-acao-primario">+</button>
                                                    }
                                                }
                                                else
                                                {
                                                    <button type="button" class="btn btn-default btn-acao-primario" disabled>+</button>
                                                }
                                            </div>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="price-wrap">
                                            <var class="price">@subTotal.ToString("C")</var>
                                        </div>
                                    </td>
                                    <td class="text-end">
                                        <button class="btn btn-outline-danger" onclick="confirmRemove('@item.IdCarro')">× Remover</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="total-value">
                        Valor Total: @total.ToString("C")
                    </div>
                }
            </div>
        </div>
    </section>
    <br />
</div>

<div class="container" id="checkout-button">
    <br />
    <div class="row">
        <div class="col-md-12 text-center">
            Deseja adicionar outro item? <a asp-controller="Home" asp-action="Index">Clique aqui</a> para continuar
        </div>
        <br />
        <div class="offset-md-4 col-md-4" style="display: @(!Model.Any() ? "none" : "block")">
            @using (Html.BeginForm("FinalizarCompra", "Home", FormMethod.Post))
            {
                <button type="submit" class="btn btn-outline-primary btn-continuar-comprando">
                    Finalizar a compra
                </button>
            }
        </div>

    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    function confirmRemove(id) {
        Swal.fire({
            title: 'tem certeza?',
            text: 'deseja remover o carro do carrinho?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'sim, remover!',
            cancelButtonText: 'não, cancelar!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '@Url.Action("RemoverItem", "Home")',
                    type: 'POST',
                    data: { id: id },
                    success: function (response) {
                        if (response.success) {
                            location.reload();
                        } else {
                            Swal.fire('Erro', 'nao foi possível remover. tente novamente.', 'error');
                        }
                    }
                });
            }
        });
    }
</script>
