@model overhaul_teste.Models.Carro

@{
    ViewData["Title"] = "Detalhes do Carro";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Overhaul</title>
</head>
<body>
    <section class="overhaul-section">
        <div class="aaaa">
            <!-- imagens do carro -->
            <div class="outras-fotos">
                <img src="@Model.Imagem" alt="imagem carro">
                <img src="@Model.Imagem" alt="imagem carro">
                <img src="@Model.Imagem" alt="imagem carro">
                <img src="@Model.Imagem" alt="imagem carro">
            </div>

            <div class="principal">
                <img src="@Model.Imagem" alt="car">
            </div>

            <div class="produto-info">
                <h1>@Model.Modelo</h1>
                <p>Marca: @Model.Marca</p>
                <div class="estrelas">
                    <span>5.0 ★★★★★</span>
                </div>
                <div class="preco">
                    <span>A partir de R$ @Model.Preco</span>
                    <p>à vista no Pix (10% off)</p>
                </div>

                <p>Carregador: @Model.Carregador</p>

                <div class="cores">
                    <span>Cor:</span>
                    <div class="cores-escolha">
                        <div class="cor cor-vermelha" data-cor="vermelho"></div>
                        <div class="cor cor-azul" data-cor="azul"></div>
                        <div class="cor cor-branca" data-cor="branco"></div>
                        <div class="cor cor-preta" data-cor="preto"></div>
                        <div class="cor cor-prata" data-cor="prata"></div>
                    </div>
                </div>

                <div class="quantidade">
                    <label for="quantidade">Quantidade:</label>
                    <select id="quantidade" name="quantidade">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>

                <div class="botoes">
                    <!-- carrinho -->
                    @if (Cliente.ClienteLogadoId == 0) 
                    {
                        <button><a href="#" class="comprar-agora" data-toggle="modal" data-target="#myModal">
                            Adicionar ao Carrinho
                        </a></button>
                    }
                    else
                    {
                        @using (Html.BeginForm("AdicionarItem", "Home", "Carrinho", FormMethod.Post))
                        {
                            <input type="hidden" name="id" value="@Model.Id" />
                            <input type="hidden" name="quantidade" value="1" />
                            <button type="submit" class="comprar-agora">
                                Adicionar ao Carrinho
                            </button>
                        }
                    }

                    @if (Cliente.ClienteLogadoId == 0) 
                    {
                        <button><a href="#" class="test-drive" data-toggle="modal" data-target="#myModal">
                            Marcar Test Drive
                        </a></button>
                    }
                    else
                    {
                        <button class="test-drive" onclick="window.location.href='@Url.Action("MarcarTestDrive", "Home", new { id = Model.Id })'">
                            Marcar Test Drive
                        </button>
                    }
                </div>

            </div>
        </div>

        <div class="descricao">
            <p>Descrição:</p>
            <p>@Model.Descricao</p>
        </div>

        <p>Categoria: @Model.Categoria</p>

    </section>

    <script>
        // script das cores
        const cores = document.querySelectorAll('.cores-escolha .cor');
        const corAtual = "@Model.Cor".toLowerCase(); // cor do carro em questão

        function destacarCor(corSelecionada) {
            cores.forEach(cor => {
                if (cor.getAttribute('data-cor') === corSelecionada) {
                    cor.classList.remove('inativa');
                } else {
                    cor.classList.add('inativa');
                }
            });
        }

        destacarCor(corAtual);

        cores.forEach(cor => {
            cor.addEventListener('click', function () {
                let corSelecionada = this.getAttribute('data-cor');
                destacarCor(corSelecionada);
            });
        });
    </script>
</body>
</html>
