@model Cliente

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Área do Administrador</title>
    <link rel="stylesheet" href="~/src/css/style.css" />
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background-color: #1a1a1a;
            color: #f0f0f0;
        }

        .conteudo,
        .container-adicionar {
            display: flex;
            gap: 20px;
            padding: 20px;
            flex-wrap: wrap;
        }

        .menu-lateral-admin {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            padding: 20px;
            background-color: #2d2d2d;
            border-radius: 8px;
            max-width: 350px;
            width: 100%;
        }

        .sidebar {
            flex: 1;
            min-width: 200px;
            display: flex;
            flex-direction: column;
            gap: 15px;
            border-radius: 10px;
        }

        .sidebar h2 {
            font-size: 18px;
            text-align: center;
            margin-bottom: 5px;
        }

        .sidebar p {
            text-align: center;
            margin-bottom: 10px;
            font-size: 16px;
            color: #fff;
        }

        .sidebar a {
            background-color: #202020;
            padding: 10px;
            text-align: center;
            border-radius: 5px;
            color: #fff;
            text-decoration: none;
            transition: background 0.3s;
        }

        .sidebar a:hover {
            background-color: #444;
        }

        .area-administrador {
            flex: 1;
            background-color: #2d2d2d;
            padding: 30px;
            border-radius: 10px;
            height: max-content;
        }

        .area-administrador h2 {
            border-bottom: 1px solid #666;
            padding-bottom: 10px;
        }

        .opcoes-admin {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
            margin-top: 20px;
        }

        .opcoes-admin button {
            width: 45%;
            background-color: #202020;
            font-size: 20px;
            padding: 15px;
            margin: 10px 5px;
            border: none;
            cursor: pointer;
            color: #f0f0f0;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .opcoes-admin button img {
            width: 100%;
            max-width: 30px;
            margin-right: 10px;
        }

        /*media (max-width: 768px) {
            .conteudo,
            .container-adicionar {
                flex-direction: column;
                align-items: center;
            }*/

            .opcoes-admin button {
                width: 100%;
                font-size: 15px;
            }

        .sidebar img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            margin-left:80px;
        }
        }
    </style>
</head>
<body>

    <div class="conteudo">
        <aside class="menu-lateral-admin">
            <div class="sidebar">
                <h2>SEJA<br />BEM - VINDO!</h2>
                <p>@Model.Nome @Model.Sobrenome</p>
                <img src="~/images/perfil.png" alt="" />
                <a asp-action="PerfilCliente">Informações Pessoais</a>
                <a asp-action="VerPedidosCliente">Ver Meus Pedidos</a>
                <a asp-action="Suporte">Suporte</a>
            </div>
        </aside>

        <main class="area-administrador">
            <h2>Área do Administrador</h2>
            <div class="opcoes-admin">
                <button onclick="location.href='@Url.Action("AdicionarCarro")'">
                    Adicionar Novo Carro <img src="~/images/adicionar.png" alt="" />
                </button>
                <button onclick="location.href='@Url.Action("TodosCarros")'">
                    Excluir/Atualizar Carro <img src="~/images/atualizar.png" alt="" />
                </button>
                <button onclick="location.href='@Url.Action("VerTestDrives")'">
                    Todos os Test Drives <img src="~/images/carro.png" alt="" />
                </button>
                <button onclick="location.href='@Url.Action("VerificarPedidos")'">
                    Todos os Pedidos <img src="~/images/carrinho-compras.png" alt="" />
                </button>
            </div>
        </main>
    </div>
</body>
</html>
